
<h1>{{menu.name}}</h1>
  <ul>
    {{#each starters}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each mains}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each drinks}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each desserts}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
