
<div class="left-pane">

</div>

<div class="right-pane">
<h1>{{title}}</h1>

  <ul>
    {{#each starters}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each mains}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each drinks}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each desserts}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
</div>
