<div class="left-pane">
</div>
<div class="right-pane">
<h1>{{title}}</h1>

 <div class="menu-items">
  <h2>Starters</h2>
<ul>
         {{#each starters}}
         <li class="left">{{name}} </li>
      <li class="right">{{price}}</li>
       {{/each}}
      </ul>
    </div>
    <div class="menu-items">
  <h2>Mains</h2>
<ul>
         {{#each mains}}
         <li class="left">{{name}} </li>
      <li class="right">{{price}}</li>
       {{/each}}
      </ul>
    </div>

    <div class="menu-items">
  <h2>Drinks</h2>
<ul>
         {{#each drinks}}
         <li class="left">{{name}} </li>
      <li class="right">{{price}}</li>
       {{/each}}
      </ul>
    </div>

     <div class="menu-items">
  <h2>Desserts</h2>
<ul>
         {{#each desserts}}
         <li class="left">{{name}} </li>
      <li class="right">{{price}}</li>
       {{/each}}
      </ul>
    </div>
</div>


